@import '../../../styles/variables';

.search {
  border-radius: 36px;
  background: $searchBlockBg;
  display: flex;
  width: 356px;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
  input {
    width: 70%;
  }

  @media screen and (max-width: 1410px){
    width: 250px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: $green;
    transition: 0.3s all;

    &:hover {
      transform: scale(1.1);
    }
  }
}