@import '../../styles/variables';

.order {
  background: $lightGreen;
  border-radius: 30px;
  padding: 40px;

  &__header {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__number {
    font-size: 30px;
    color: $blue;
    font-weight: 700;
  }

  &__message {
    margin-top: 15px;
  }

  &__products {
    margin-top: 30px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__price {
    margin-top: 30px;
    font-size: 20px;
  }

  &__deleteButton {
    margin-top: 15px;
    background: none;
    border: 2px solid $lightRed;
    color: $lightRed;
    padding: 15px 30px;

    img {
      display: none;
    }
  }
}

