@import '../../../styles/variables';

.title {
  color: $blue;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 800;

  @media screen and (max-width: 800px){
    font-size: 35px;
  }
}

