.header {
  margin-top: 75px;
  padding: 247px 0;
  background: url(../../img/header/bg.png) center center/cover no-repeat;

  .title {
    margin-top: 10px;
    font-size: 70px;

    @media screen and (max-width: 650px) {
      font-size: 35px;
    }
  }

  button {
    margin-top: 25px;

    @media screen and (max-width: 650px) {
      font-size: 50px;
    }
  }
}
