@import '../../styles/variables';

.about {
  padding: 190px 0;
  margin-top: 190px;
  background: $light url(../../img/about/bg.png) no-repeat;

  @media screen and (max-width: 1760px) {
    background: $light;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1760px) {
      justify-content: center;
    }
  }

  &__img {
    img {
    }
  }

  &__text {
    max-width: 690px;
    @media screen and (max-width: 500px) {
      margin-top: 30px;
    }
  }

  &__advantages {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &_item {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    &_title {
      color: $blue;
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      font-weight: 800;
    }

    &_text {
      max-width: 444px;
      line-height: 165.4%;
    }
  }

  &__button {
    margin-top: 46px;
    background: $blue;
    color: $white;
  }
}
