.page404 {
  margin-top: 70px;
  background: url(../img/page404/bg.png);
  padding: 214px 0;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    text-align: center;
    margin-top: 10px;
  }

  &__text {
    font-weight: 600;
    margin-top: 15px;
  }

  &__button {
    margin-top: 30px;
  }
}