$blue: #274C5B;
$green: #7EB693;
$lightGrey: #D4D4D4;
$light: #F9F8F8;
$lightGreen: #EFF6F1;
$darkGrey: #525C60;
$searchBlockBg: #FAFAFA;
$yellow: #EFD372;
$white: #fff;
$black: #000;
$lineColor: #DEDDDD;
$nonActualPriceColor: #B8B8B8;
$buttonBlack: #1E1E1E;
$peachColor: rgba(253, 176, 45, 0.16);
$borderInputColor: #7EB693;
$red: #a91313;
$lightRed: #ff0000;
$galleryBg: #f1f8f4;
$pointBg: #ECECEC;
