@import '../../styles/variables';

.products {
  margin-top: 170px;
  position: relative;
  padding-bottom: 100px;

  .title, .subtitle {
    text-align: center;
  }

  &__wrapper {
    margin-top: 40px;
  }

  .buttonShow {
    margin: 100px auto 0 auto;
    color: $white;
    width: 205px;
    justify-content: center;
  }
}